.login-form{
    max-width: 100%;
    width: 370px;
    padding: 15px;
    margin: auto;
}
.img-size
{
    width: 150px;
    height: 120px;
}
.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  .icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
  }
  
  .input-field:focus {
    border: 2px solid dodgerblue;
  }
  #search-bg::-moz-focus-inner{
    background-color: dodgerblue;
  }

/* Users-page */

.card-header{
  background-color:#f76c6c;
  color: #000;
  
}
.card-body{
   background-color: #fff;
  color: #000; 
}
/* .text-center{
  background-color: #9575CD;
} */
a{
  text-decoration: none;
}
#header
{
  background-color: #5680E9
}