{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'jq/jquery.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/bootstrap-social.css' %}">
    <link rel="stylesheet" href="{% static 'fa/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/fontawesome.css' %}">
    <title>Users</title>
</head>
<body>
    <header>{% include 'includes/navbar.html' %}</header>
    {% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h2>Edit Your Details</h2>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{% url 'update' item.id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="name">username</label>
                                <input type="text" name="name" value="{{ item.reg_name }}" required="required"/>
                            </div>
                            <div class="form-group">
                                <label for="usermail">Email</label>
                                <input type="email" name="usermail" value="{{ item.reg_email }}" required="required"/>
                            </div>
                            <div class="form-group">
                                <label for="useraddress">address</label>
                                <input type="text" name="useraddress" value="{{ item.reg_address }}" required="required"/>
                            </div>
                            <div class="form-group center">
                                <button type="submit" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-edit"></span> Update</button>
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
    
    {% endblock %} 
    <!-- jQuery first, then Popper.js, then Bootstrap JS. -->
    <script src="{% static 'jq/jquery.slim.min.js' %}"></script>
    <script src="{% static 'jq/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="https://kit.fontawesome.com/99334bea18.js" crossorigin="anonymous"></script>
    <script src="{% static 'fa/fontawesome.js' %}"></script>
    <script src="{% static 'fa/fontawesome.min.js' %}"></script>
</body>
</html>